<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{48,88}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{48,88}}</string>
                <key>sourceSize</key>
                <string>{64,104}</string>
            </dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{48,88}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{48,88}}</string>
                <key>sourceSize</key>
                <string>{64,104}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1878},{28,90}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{28,90}}</string>
                <key>sourceSize</key>
                <string>{64,104}</string>
            </dict>
            <key>04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1786},{28,90}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{28,90}}</string>
                <key>sourceSize</key>
                <string>{64,104}</string>
            </dict>
            <key>05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{48,88}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{48,88}}</string>
                <key>sourceSize</key>
                <string>{64,104}</string>
            </dict>
            <key>06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{50,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{50,88}}</string>
                <key>sourceSize</key>
                <string>{64,104}</string>
            </dict>
            <key>07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{52,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{52,86}}</string>
                <key>sourceSize</key>
                <string>{64,104}</string>
            </dict>
            <key>08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{50,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{50,88}}</string>
                <key>sourceSize</key>
                <string>{64,104}</string>
            </dict>
            <key>09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{48,88}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{48,88}}</string>
                <key>sourceSize</key>
                <string>{64,104}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{48,88}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{48,88}}</string>
                <key>sourceSize</key>
                <string>{64,104}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,982},{48,86}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{48,86}}</string>
                <key>sourceSize</key>
                <string>{64,104}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{48,88}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{48,88}}</string>
                <key>sourceSize</key>
                <string>{64,104}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{48,88}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{48,88}}</string>
                <key>sourceSize</key>
                <string>{64,104}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{50,88}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{50,88}}</string>
                <key>sourceSize</key>
                <string>{64,104}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,86}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{52,86}}</string>
                <key>sourceSize</key>
                <string>{64,104}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{50,88}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{50,88}}</string>
                <key>sourceSize</key>
                <string>{64,104}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{48,88}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{48,88}}</string>
                <key>sourceSize</key>
                <string>{64,104}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{48,88}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{48,88}}</string>
                <key>sourceSize</key>
                <string>{64,104}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{48,86}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{48,86}}</string>
                <key>sourceSize</key>
                <string>{64,104}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{48,88}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{48,88}}</string>
                <key>sourceSize</key>
                <string>{64,104}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1878},{28,90}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{28,90}}</string>
                <key>sourceSize</key>
                <string>{64,104}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1696},{32,88}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{32,88}}</string>
                <key>sourceSize</key>
                <string>{64,104}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{50,86}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{50,86}}</string>
                <key>sourceSize</key>
                <string>{64,104}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1696},{32,88}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{32,88}}</string>
                <key>sourceSize</key>
                <string>{64,104}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1878},{28,90}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{28,90}}</string>
                <key>sourceSize</key>
                <string>{64,104}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1516},{36,88}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{36,88}}</string>
                <key>sourceSize</key>
                <string>{64,104}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1158},{44,86}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{44,86}}</string>
                <key>sourceSize</key>
                <string>{64,104}</string>
            </dict>
            <key>28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1426},{36,88}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{36,88}}</string>
                <key>sourceSize</key>
                <string>{64,104}</string>
            </dict>
            <key>29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1786},{28,90}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{28,90}}</string>
                <key>sourceSize</key>
                <string>{64,104}</string>
            </dict>
            <key>30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1606},{32,88}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{32,88}}</string>
                <key>sourceSize</key>
                <string>{64,104}</string>
            </dict>
            <key>31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{50,86}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{50,86}}</string>
                <key>sourceSize</key>
                <string>{64,104}</string>
            </dict>
            <key>32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1606},{32,88}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{32,88}}</string>
                <key>sourceSize</key>
                <string>{64,104}</string>
            </dict>
            <key>33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1786},{28,90}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{28,90}}</string>
                <key>sourceSize</key>
                <string>{64,104}</string>
            </dict>
            <key>34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1336},{36,88}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{36,88}}</string>
                <key>sourceSize</key>
                <string>{64,104}</string>
            </dict>
            <key>35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1070},{44,86}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{44,86}}</string>
                <key>sourceSize</key>
                <string>{64,104}</string>
            </dict>
            <key>36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1246},{36,88}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{36,88}}</string>
                <key>sourceSize</key>
                <string>{64,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero.png</string>
            <key>size</key>
            <string>{56,1970}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff07c326a26b72a37b502dec2eaacdc6$</string>
            <key>textureFileName</key>
            <string>hero.png</string>
        </dict>
    </dict>
</plist>
